
body {
    background-color: lightgray;
    text-align: center;
    font-family: Arial, sans-serif;
}


h1 {
    color: darkblue;
}


.bold {
    font-weight: bold;
}


.italic {
    font-style: italic;
}


.underline {
    text-decoration: underline;
}


.colored-text {
    color: blue;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.paragraph {
    font-size: 16px;
    color: black;
}

.preformatted {
    font-family: monospace;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
}
